## Pandas Basics 

- Pandas is python library built on top of numpy, use to work with small or big data sets.
- Pandas provide functionlity to analyze, clean, explore and manipulate the data.

#### Why use pandas ?
1. Easy to use
2. Widely use in data science field (big user base)
3. Powerfull functionality to clean and habdle big data.
4. fast and efficient.

### 1. Series
- Series is like a column in table.
- it is one dimentional and holding data of any type.

In [1]:
import pandas as pd

In [2]:
ser = pd.Series([1,2,3], index=['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

In [3]:
type(ser)

pandas.core.series.Series

In [4]:
ser2 = pd.Series([1,2,3,4])
ser2

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
ser3 = pd.Series([1,2,3,4], index=['a', 'b']). # error

In [34]:
# access element of series
print(ser.loc['a'])

1

In [35]:
ser.iloc[0]

np.int64(1)

### 2. DataFrame
- DF is two dimentional data structure, which contain mautiple series. we usually treat dataframe as table and series as column.

In [7]:
Df = pd.DataFrame({
    'name' : ['ummed', 'sachine', 'rohit'],
    'age': [23,22,18]
})

Df

      name  age
0    ummed   23
1  sachine   22
2    rohit   18

In [8]:
type(Df)

pandas.core.frame.DataFrame

In [10]:
Df.loc[1]

name    sachine
age          22
Name: 1, dtype: object

#### Access items of data frame (loc and iloc)

In [12]:
Cars = pd.DataFrame({
    'name' : ['A', 'B', 'C'],
    'value' : [10,20,30],
}, index=['c1', 'c2', 'c3'])

In [13]:
Cars

   name  value
c1    A     10
c2    B     20
c3    C     30

In [16]:
Cars.iloc[0] # iloc use index position

name      A
value    10
Name: c1, dtype: object

In [ ]:
Cars.loc[0] # error

In [17]:
Cars.loc['c1'] # loc use actual index value

name      A
value    10
Name: c1, dtype: object

In [24]:
Cars.loc[['c1', 'c2']]

   name  value
c1    A     10
c2    B     20

In [29]:
Cars.iloc[0].iloc[1]

np.int64(10)